<div fxLayout="column" fxLayoutAlign="center center">
    <h1>Share</h1>
    <div fxLayoutAlign="center center" fxLayoutGap="10px">
        <a href="https://twitter.com/share?url=https://eladsolomon1.github.io/covid19-stats/&text=Covid19-Stats"  target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.facebook.com/sharer.php?u=https://eladsolomon1.github.io/covid19-stats/" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://eladsolomon1.github.io/covid19-stats/" class="fa fa-linkedin"></a>

    </div>
    <div fxLayoutAlign="center center" fxLayoutGap="10px">
        <a href="whatsapp://send?text=https://eladsolomon1.github.io/covid19-stats/" class="fa fa-whatsapp d-block d-sm-none" target="_blank"></a>
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to&su=Covid19-Stats&body=Hi%21%0D%0A%0D%0AClick+on+the+link+below+to+see+Covid-19+stats%0D%0A%0D%0Ahttps%3A%2F%2Fwww.eladsolomon1.github.io/covid19-stats" target="_blank" class="fa fa-google"></a>
    </div>
    
</div>



